* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
}

.colorBg {
	min-height: 100vh;
	background:
		linear-gradient(to bottom, transparent, #fff 400rpx),
		linear-gradient(to right, #beecd8, 20%, #f4e2d8 80%);
}